@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins' sans-serif;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSehWENcIYgGa1vXqSL8qbO834mge9R0K-ECQ&s);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);

}

img{
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 50px 0 0 0 ;
    background-color: rgba(255, 255, 255, 0.808);
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #e22171;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Bebas Neue',sans-serif;
}

.menu .navbar ul li {
    position: relative;
    float: left;

}

.menu .navbar ul li {
    font-size: 18px;
    padding: 20px;
    color: #040100;
    display: block;
    font-weight: 600;

}

.menu .navbar ul li a:hover {
    color: #e22171;


}

#menu{ 
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-txt {
    flex-basis: 50%;
}

.header-txt h1 {
    font-size: 100px;
    line-height: 1;
    color: #040100;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 25px;
}

p {
    color: #232323;
    font-size: 17px;
    margin-bottom: 35px;

}

.btn-1 {
    display: inline-block;
    padding: 13px 15px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    background-color: #e22717;
    border-radius: 25px;

}

.btn-1:hover {
    background-color: #040100;
}

.header-img {
    flex-basis: 50%;
}

.header-img img{
    width: 850px;
}

.information {
    padding: 50px 0;
    background-color: rgba(255, 255, 255, 0.808);
}

.information-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.information-box{
    flex-basis: 50%;
    display: flex;
}

.card-1 {
    flex-basis: calc(50% - 100px);
    background-color: rgba(255, 255, 255, 0.345);
    border-radius: 25px;
    margin-right: 50px;
    text-align: center;
    padding: 20px;
}